.header{  display: block;
          background-color: #22222a;
          position: absolute;
          margin-left: 10%;
          margin-right: 10%;
          height: 130px;
          width: 80%;
          top: 0;}

.user{
        margin-right: 15px;
        margin-top: 20px;
        float: right;}

.member{
          margin-right: 45px;
          margin-top: 20px;
          text-align: right;
          color: white;
          font-family: "Trebuchet MS", sans-serif;
          font-size: 14px;}

.navbar {
            margin-top: 175px !important;
            display: block;
        }

.icon-bar {
              width: 80%;
              border: 0.1px solid #0099ff;
              border-image: linear-gradient(to left, #003d66 0%, #61c69d 100%);
              border-image-slice: 0.75;
              border-width: 0.80px;
              background-color: #22222a;
              overflow: auto;
              margin: auto;
}

.icon-bar a {
              float: left;
              width: 20%;
              text-align: center;
              padding: 12px 0;
              transition: all 0.3s ease;
              color: white;
              font-size: 20px;
              text-decoration: none !important;
              font-family: "Trebuchet MS";
}

.icon-bar a:hover {
              background-image: linear-gradient(to left, #003d66 0%, #61c69d 100%);
}

.active {
              background-image: linear-gradient(to left, #003d66 0%, #61c69d 100%);
}


body{
        font-family: "Trebuchet MS", sans-serif;
        text-align: justify;
        background: url("https://ocs-pl.oktawave.com/v1/AUTH_2887234e-384a-4873-8bc5-405211db13a2/spidersweb/2016/05/IEM2016_1.jpg") no-repeat fixed;
        background-position: center center;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.65);
        background-attachment: scroll;
        position: relative;
        top:0;
        bottom:0;
        height: 1000px;
        z-index: -10;
        margin: 0 auto;
}


.center{
          position: absolute;
          top: 0;
          display: block;
          margin-left: 40%;
          margin-right: 40%;
          }


#overlay{
            position: absolute;
            background-color: rgba(0, 0, 0, 0.65);
            background-attachment: scroll;
            min-height: 100%;
            top: 0;
            bottom: 0;
            height: 117%; /*Can adjust footer*/
            width: 100%;
            z-index: -5;}

.tab {
          position: absolute;
          top: 70px;
          margin-top: 10.1%;
          margin-left: 10%;
          margin-right: 10%;
          font-family: "Trebuchet MS";
          font-size: 15px;
          padding: 3%;
          text-align: left;
          color: white;
          overflow: hidden;
          border: 1px solid #0099ff;
          background-color: linear-gradient(#0099ff, #003d66);
          border-image: linear-gradient(to left, #003d66 0%, #61c69d 100%);
          border-image-slice: 1;
          border-width: 2px;
          background-color: rgba(0, 0, 0, 0.65);
          height: 610px;
}


.vid{
      border: 1px solid #0099ff;
      border-image: linear-gradient(to left, #003d66 0%, #61c69d 100%);
      border-image-slice: 1;
      border-width: 2px;}

@-webkit-keyframes fadeEffect {
                                from {opacity: 0;}
                                to {opacity: 1;}}

@keyframes fadeEffect {
                        from {opacity: 0;}
                        to {opacity: 1;}}

footer{
            display: block;
            font-size: 11px;
            /*text-align: center;*/
            margin: auto;
            margin-left: 10%;
            margin-right: 10%;
            height:10%;
            width: 80%;
            color: white;
            position: absolute;
            bottom: 0;}

footer img{
              display: inline-block;
              padding-left: 10px;
              padding-right: 10px;}


hr{
        margin-left: 10%;
        margin-right: 10%;
        border: 1px solid #0099ff;
        background-color: linear-gradient(#0099ff, #003d66);
        border-image: linear-gradient(to left, #003d66 0%, #61c69d 100%);
        border-image-slice: 1;
        border-width: 1px;
}

.copyright{
              text-align: left;
              float: left;
              margin-left: 10%;}

.social{
            text-align: right;
            float: right;
            margin-right: 10%;}
